.header-background {
  background-color: #552b81;
}

.header-text {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin-right: 20px;
}

.align-items-center {
  display: flex;
  align-items: center;
}

a:visited {
  color: white;
}

.header-entries {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
}

.main-background {
  background-color: #f0f0f0;
}

h1,
h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

.header-text-margin {
  margin-top: 15px;
  margin-bottom: 15px;
}

img {
  max-width: 100%;
  object-fit: cover;
  max-height: 350px;
}

.form-font {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

label,
input {
  display: block;
}

label {
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#title,
#notes,
#photo-url {
  border-radius: 5px;
  border-width: 1px;
  border-color: #b6b6b6;
}

input,
textarea {
  width: 100%;
  resize: none;
}

input:focus {
  outline-color: #562a81;
}

textarea:focus {
  outline-color: #562a81;
}

.column-half input {
  width: 100%;
  line-height: 25px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #552b81;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 15px;
  margin-right: 2px;
  font-family: "Open Sans", sans-serif;
}

.center-text {
  text-align: center;
}

ul {
  list-style: none;
  margin: auto;
  padding: 0;
}

p {
  font-family: "Open Sans", sans-serif;
}
